[
    {kernel, [
        {logger, [
            {handler, default, logger_std_h, #{
                level => all,
                formatter => {logger_formatter, #{
                    template => [level, " ", mfa, " ", msg, "\n"]
                }}
            }},
            {handler, file, logger_std_h, #{
                level => all,
                config => #{file => "log/debug.log"},
                formatter => {logger_formatter, #{
                    template => [time, " ", level, " ", mfa, " ", msg, "\n"]
                }}
            }}
        ]}
    ]}
].
